<html lang="en">
<head>
  
  <title>e-budgeting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

     .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #0c4172 !important;
      background-color:#ffffff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: rgb(255, 255, 255) !important;
  }
  
  .navbar {
      margin-bottom: 0;
      background-color: #0c4172;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }

  .jumbotron {
      background-color: #0c4172;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }

    .container-fluid {
      padding: 60px 50px;
  }

    body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;

  }
  
 
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  </style>
  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              <a class="navbar-brand" href="#myPage">E-BUDGETING</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a routerLink="login_form"><a href="#pricing">LOGIN</a></a></li>
              </ul>
            </div>
          </div>
        
        </nav>
        
        
        <div class="jumbotron text-center">
            <h1>KIET&nbsp; GROUP &nbsp;OF &nbsp;INSTITUTIONS</h1>
            <br>
            <p >G H A Z I A B A D &nbsp; - &nbsp; U T T A R &nbsp;&nbsp; P R A D E S H</p> 
          </div>

          <div id="about" class="container-fluid ">
              <div class="row">
                <div class="col-sm-8">
                  <h1 style="color:rgb(48, 38, 38)">ABOUT</h1>
                  <h3>KIET Group of Institutions (KIET) is a private engineering institute affiliated to Dr. A.P.J. Abdul Kalam Technical University, situated in the Ghaziabad in the National Capital Region of India</h3><br>
                  <p> The institute is ISO certified and NBA accredited. It consists of 10 academic departments with a focus on education in engineering, sciences, pharmacy and management. The institute has ties with industry, and offers on-campus placements where students get placed with different companies. This college is known mainly for outstanding results in overall academic performance in all AKTU colleges because of its overall development of students.</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-arrow-left logo slideanim" style="padding-left:80px;padding-top:110px;font-size:200px;color:#0c4172"></span>
                </div>
              </div>
            </div>
            
            <div class="container-fluid bg-grey" style="background-color: rgb(243, 243, 243)">
                <div class="row">
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-globe logo slideanim" style="font-size:350px;color:#0c4172"></span>
                  </div>
                  <div class="col-sm-8" >
                    <h2>Our Values</h2><br>
                    <h4><strong>VISION:</strong>
                      To achieve excellence in technical education and create competent professionals for Industry and Socio-economic development to meet National and International needs.</h4><br>
                    <h4><strong>MISSION:</strong> 
                      To achieve academic excellence in technical education through innovative teaching-learning process,
                     providing strong fundamental and conceptual knowledge with essential skills to meet current and future need
                      with building strong industry academia connect through industrial and socially relevant projects and
                      to inculcate right human values and professional ethics.</h4>
                  </div>
                </div>
              </div>
              
              <div id="services" class="container-fluid text-center">
                  <h1 style="color:rgb(48, 38, 38)">SERVICES</h1>
                  <br>
                  <br>
                  <div class="row slideanim">
                    <div class="col-sm-4">
                     <a href="#acdm" data-toggle="collapse" style="background-color:transparent"> <span class="glyphicon glyphicon-education logo-small" style="font-size:50px;color:#0c4172"></span></a>
                     <div id="acdm" class="collapse">sarthak is a good boy </div> 
                     <h4>ACADEMICS</h4>
                      <p style="color:#000000; font-family: Montserrat, sans-serif;font-size: 15px">Start With a Dream, Finish With a Future</p>
                    </div>
                    <div class="col-sm-4">
                      <a href="#sprt" data-toggle="collapse" style="background-color:transparent"> <span class="glyphicon glyphicon-king logo-small" style="font-size:50px ;color:#0c4172"></span></a>
                      <div id="sprt" class="collapse">sarthak is a good boy </div>
                        <h4>SPORTS</h4>
                      <p  style="color:#000000; font-family: Montserrat, sans-serif;font-size: 15px">Life is a sports. Go play with full enthusiasm!</p>
                    </div>
                    <div class="col-sm-4">
                        <a href="#infr" data-toggle="collapse" style="background-color:transparent">  <span class="glyphicon glyphicon-home logo-small" style="font-size:50px;color:#0c4172"></span></a>
                          <div id="infr" class="collapse">sarthak is a good boy </div> 
                          <h4>INFRASTRUCTURE</h4>
                      <p style="color:#000000; font-family: Montserrat, sans-serif;font-size: 15px">On these beams, we’re building dreams.</p>
                    </div>
                  </div>
                  <br><br>
                  <div class="row slideanim">
                    <div class="col-sm-4">
                        <a href="#labs" data-toggle="collapse" style="background-color:transparent"> <span class="glyphicon glyphicon-book logo-small" style="font-size:50px;color:#0c4172"></span></a>
                          <div id="labs" class="collapse">sarthak is a good boy </div> 
                          <h4>LABS/EQUIPMENTS</h4>
                      <p style="color:#000000; font-family: Montserrat, sans-serif;font-size: 15px">All the world is a laboratory to the inquiring mind.</p>
                    </div>
                    <div class="col-sm-4">
                        <a href="#rcrt" data-toggle="collapse" style="background-color:transparent">  <span class="glyphicon glyphicon-flag logo-small" style="font-size:50px;color:#0c4172"></span></a>
                          <div id="rcrt" class="collapse">sarthak is a good boy </div> 
                           <h4>RECREATION</h4>
                      <p style="color:#000000; font-family: Montserrat, sans-serif;font-size: 15px">Enjoy the boom. Embrace the bust actively.</p>
                    </div>
                    <div class="col-sm-4">
                        <a href="#enrg" data-toggle="collapse" style="background-color:transparent">  <span class="glyphicon glyphicon-flash logo-small" style="font-size:50px;color:#0c4172"></span></a>
                          <div id="enrg" class="collapse">sarthak is a good boy </div> 
                           <h4 style="color:#303030;">ENERGY RESOURCES</h4>
                      <p style="color:#000000; font-family: Montserrat, sans-serif;font-size: 15px">Developing enery for a better future.</p>
                    </div>
                  </div>
                </div>


                <div id="contact" class="container-fluid bg-grey">
                    <h1 class="text-center" style="color:rgb(48, 38, 38)">CONTACT</h1>
                    <br>
                    <div class="row">
                      
                          <div class="col-sm-3" style="padding-left:70px;color:#0c4172; font-family: Montserrat, sans-serif;font-size: 15px"><strong><p><span class="glyphicon glyphicon-user">&nbsp;</span>SARTHAK&nbsp;&nbsp;SAXENA</p><br><span class="glyphicon glyphicon-phone">&nbsp;<strong>7895924376</strong></span><br><br><span class="glyphicon glyphicon-envelope">&nbsp;sak.saxena28@gmail.com</span></strong><br><br><br><br></div>
                          <div class="col-sm-3" style="padding-left:70px;color:#0c4172; font-family: Montserrat, sans-serif;font-size: 15px"><strong><p><span class="glyphicon glyphicon-user">&nbsp;</span>ANAMIKA&nbsp;&nbsp;PATHAK</p><br><span class="glyphicon glyphicon-phone">&nbsp;<strong>9455412590</strong></span><br><br><span class="glyphicon glyphicon-envelope">&nbsp;sak.axena28@gmail.com</span></strong><br><br><br><br></div>
                          <div class="col-sm-3" style="padding-left:70px;color:#0c4172; font-family: Montserrat, sans-serif;font-size: 15px"><strong><p><span class="glyphicon glyphicon-user">&nbsp;</span>SIDDHANT&nbsp;&nbsp;SAXENA</p><br><span class="glyphicon glyphicon-phone">&nbsp;<strong>9458517944</strong></span><br><br><span class="glyphicon glyphicon-envelope">&nbsp;siddhantsaxena200@gmail.com</span></strong><br><br><br><br></div>
                          <div class="col-sm-3" style="padding-left:70px;color:#0c4172; font-family: Montserrat, sans-serif;font-size: 15px"><strong><p><span class="glyphicon glyphicon-user">&nbsp;</span>ANURADHA&nbsp;&nbsp;GUPTA</p><br><span class="glyphicon glyphicon-phone">&nbsp;<strong>8743019159</strong></span><br><br><span class="glyphicon glyphicon-envelope">&nbsp;sak.axena28@gmail.com</span></strong><br><br><br><br></div>
                          
                        </div>
                      </div>
                    

                      
  </body>
  </html>