<html>
    <head>
            <title>e-budgeting</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <style>
             
          
            </style>
    </head>
    <body class="mybg1" >
       <a routerLink="/"><strong style="color:white;font-size: 20px">&nbsp;&nbsp;Home</strong></a>
        <div class="jumbotron text-center mybg1">
            <h1>LOG - IN / SIGN - UP </h1>
            
          
          <br><br><br>
          <span class="glyphicon glyphicon-user" style="font-size:150px"></span>              
          <br>  
          <br>
          
                <a routerLink="/signup"><button type="button" class="btn btn-link btn-lg" style="color:white"><h2> Sign - Up&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></h2></button></a>
                <br>   
                <a routerLink="/login"><button type="button" class="btn btn-link btn-lg"style="color:white"><h2> Log - In&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></h2></button></a>
               
              
   
          </div>

          

    </body>
</html>